* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

.bumper {
  display: none;
  height: 3rem;
}

.roundedB {
  border: solid grey 0px;
  border-radius: 0.5rem;
}

.flex {
  display: flex;
}

.barSml {
  height: 3rem;
  width: 100%;
}

.barMed {
  height: 4.5rem;
  width: 100%;
}

.barLrg {
  height: 5rem;
  width: 100%;
}

.barXLrg {
  height: 6rem;
  width: 100%;
}

.navigation {
  display: flex;
  align-items: stretch;
  align-items: stretch;
  background-color: lightgrey;
  width: 100vw;
}

.navBtn {
  flex-grow: 1;
  text-align: center;
  align-self: center;
  padding: 0.4rem;
  font-size: 1rem;
}
.navBtn p {
  padding: 0.2rem;
}
.navBtn i {
  font-size: 1.8rem;
}

.header {
  display: flex;
  overflow-x: scroll;
  background-color: lightgrey;
}

.headerItem {
  padding: 0 1rem 0 1rem;
  align-self: center;
  display: block;
}

.contentArea {
  background-color: white;
  display: flex;
  flex-direction: column;
  margin: 0.5rem;
  height: 100%;
}

.headlinerImg {
  overflow: hidden;
  height: 30vh;
  background-image: url("../images/testImg.jpg");
  background-size: cover;
  display: flex;
  flex-direction: column;
  padding: 0.3rem;
}
.headlinerImg img {
  width: 100%;
  height: auto;
}
.headlinerImg .headlinerTitle {
  color: white;
  -webkit-text-stroke: 0.2px lightgrey;
  align-self: flex-start;
}
.headlinerImg .headlinerAuthor {
  color: white;
  -webkit-text-stroke: 0.2px lightgrey;
}
.headlinerImg .headlinerDate {
  color: white;
  -webkit-text-stroke: 0.2px lightgrey;
}

.headlinerBlurb {
  height: 3.5rem;
  overflow: hidden;
  display: block;
  padding-top: 0.2rem;
}

.headlinerRead {
  width: 50%;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), white 20%, white);
  display: block;
  position: relative;
  bottom: 1.3rem;
  left: 50%;
  text-align: right;
}

.article {
  height: 5rem;
  flex-direction: row;
  display: flex;
  margin: 0.3rem;
}
.article .articleImg {
  width: 30%;
  overflow: hidden;
}
.article .articleImg img {
  height: 100%;
  width: auto;
}
.article .articleText {
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  padding: 0.3rem;
}
.article .articleText .articleDetailText {
  font-size: 0.8rem;
}
.article .articleText .articleTextTitle {
  width: 100%;
  height: 50%;
  overflow: hidden;
}
.article .articleText .articleTextAuthor {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.article .articleText .articleTextDate {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.article .articleText .articleTextRead {
  width: 20%;
  text-align: right;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.borderThin {
  border: 1px solid lightgrey;
}

.hidden {
  display: none;
}

.searchContainer {
  height: 100vh;
  width: 100vw;
  position: absolute;
  top: 0;
  left: 0;
  background-color: white;
  z-index: 2;
  display: none;
  flex-direction: column;
}
.searchContainer .filterOption {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
}
.searchContainer .filterOptionList {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  overflow: scroll;
  overflow-x: hidden;
}
.searchContainer .filtersContainer {
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  width: 100%;
}
.searchContainer .inputFull {
  width: 100%;
  height: 100%;
}
.searchContainer .filterDropDown {
  width: 100%;
  height: 100%;
}
.searchContainer .halfBtn {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.activeBtnBg {
  background-color: lightgrey;
}

.sticky {
  position: fixed;
  top: 0;
}

.articleFull {
  height: 100vh;
  width: 100vw;
  background-color: white;
  flex-direction: column;
  position: fixed;
  top: 3rem;
}
.articleFull .articleReturn {
  display: flex;
  align-items: center;
  padding-left: 0.5rem;
}
.articleFull .articleHero {
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 30%;
}
.articleFull .articleHero .heroContent {
  background-image: url("../images/testImg.jpg");
  background-size: cover;
  height: 100%;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: white;
  -webkit-text-stroke: 0.2px lightgrey;
}
.articleFull .articleContent {
  padding: 0.5rem;
  width: 100%;
  height: 100%;
}
.articleFull .articleContent img {
  width: 100%;
  height: auto;
}