* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

// new css begins here

.flex {
  display: flex;
}

.barSml {
  min-height: 2rem;
  width: 100%;
}

.barMed {
  height: 3.5rem;
  width: 100%;
}

.barLrg {
  height: 4rem;
  width: 100%;
}

.navigation {
  display: flex;
  align-items: stretch;
  align-items: stretch;
}

.navBtn {
  flex-grow: 1;
  text-align: center;
  align-self: center;
}

.header {
  display: flex;
  overflow-x: scroll;
}

.headerItem {
    padding: 0 1rem 0 1rem;
    align-self: center;
}

.contentArea {
  background-color: white;
  display: flex;
  flex-direction: column;
  margin: .5rem;
  height: 100%;
}

.headlinerImg {
  overflow: hidden;
  height: 30vh;
  background-image: url("../images/testImg.jpg");
  background-size: cover;
  display: flex;
  flex-direction: column;
  padding: 0.3rem;
  img {
    width: 100%;
    height: auto;
  }
  .headlinerTitle {
    align-self: flex-start;
  }

  // .headlinerAuthor, .headlinerDate{
  //   align-self: flex-end;
  // }
  // align to bottom of div not working atm`
}

.headlinerBlurb {
  height: 3.5rem;
  overflow: hidden;
  display: block;
}

.headlinerRead {
  width: 50%;
  background-image: linear-gradient(to right, rgba(0,0,0,0),rgba(255,255,255,1) 20%, rgba(255,255,255,1));
  display: block;
  position: relative;
  bottom: 1.5rem;
  left: 50%;
  text-align: right;
}

.article {
  height: 3.5rem;
  flex-direction: row;
  display: flex;
  width: 100%;
  margin: 0.3rem;
  .articleImg{
    width: 30%;
    overflow: hidden;
    img {
      height: 100%;
      width: auto;
    }
  }
  .articleText{
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    .articleTextTitle {
      width: 80%;
      height: 70%;
    }
    .articleTextIcon {
      width: 20%;
      height: 70%;
    }
    .articleTextAuthor {
      width: 33%;
    }
    .articleTextDate {
      width: 33%;
    }
    .articleTextRead {
      width: 33%;
      text-align: right;
    }
  }

}

.borderThin {
  border: 1px solid lightgrey;
}



.hidden {
  display: none;
}

.searchContainer {
  height: 100vh;
  width: 100vw;
  position: absolute;
  top: 0;
  left: 0;
  background-color: white;
  z-index: 2;
  display: flex;
  flex-direction: column;
  .filterOption {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
  }
  .filterOptionList {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
    overflow: scroll;
  }
  .filtersContainer {
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .inputFull {
    width: 100%;
    height: 100%;

  }
}

.redText {
  color: red;
}
